.env
.env.*
supabase_check.py
.modal/
*.key
*.pem


__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

*.jpg
*.jpeg
*.png
*.webp
!frontend/public/static/**/*
!vton/b.jpg
cloud_vton_result.jpg
*.tflite
*.pt
*.pth
*.onnx

upload_cloudinary.py
test_*.py
scratch_*.py
temp_*.py

.vscode/
.idea/
.DS_Store
*.swp

# Heavy AI Submodules
recommendation/Self_Correction_Human_Parsing/
vton/Real_ESRGAN/
Real_ESRGAN/
